<div class="margin-bottom">
  <a routerLink="/" class="brand-icon" *ngIf="!showLinks">alfredo</a> 
  <span class="second-search" *ngIf="!showLinks">
    <input type="text" (onChange)="searchAgain()">
    <span class="icon-container"><fa-icon [icon]="faIcons.search" size="sm"></fa-icon></span>
  </span>
  <div *ngIf="!showLinks" class="floating-items">
    <a routerLink="/all" [ngClass]="{'active-item' : this.selectedItem === 'all'}">All</a>
    <a routerLink="/portfolio" [ngClass]="{'active-item' : this.selectedItem === 'portfolio'}">Portfolio</a>
    <a routerLink="/certifications" [ngClass]="{'active-item' : this.selectedItem === 'certifications'}">Certifications</a>
    <a routerLink="/tech-stack" [ngClass]="{'active-item' : this.selectedItem === 'tech-stack'}">Tech Stack</a>
    <a>Store</a>
    <a href="https://www.youtube.com/channel/UC547pgqomI0IcjOmltxQdAQ" target="_blank">Videos</a>
  </div>
  <hr />
</div>