.floating-items {
  padding-top: 10px;
  
  & a {
    margin: 0 10px;
    text-decoration: none;
  }
}

.active-item {
  color: #0F71A3;
  border-bottom: 4px solid #0F71A3;
  padding: 0 10px 5px;
  margin-left: -5px !important;
  margin-right: -5px !important;
}

.margin-bottom {
  margin-bottom: 25px;
}

.margin-left {
  margin-left: 10px;
}

.second-search {
  margin-left: 10px;
  position: relative;
  font-size: 20px;

  & a {
    vertical-align: bottom;
  }

  & input {
    margin-left: 10px;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 4px 10px;
    width: 250px;
  }
  
  & .icon-container {
    position: absolute;
    right: 7px;
    top: 2px;
    color: gray;
  }
}

hr {
  padding-top: 0;
  margin-top: 7px;
  border: 0;
  border-top: 2px solid lightgray;
}