* {
  margin: 0;
  padding: 0;
}

/*
* General styles
*/


/*
* Games
*/



section {
  text-align: center;
}

.codepen-logo svg {
  width: 100px;
}

section.main-sect {
  max-height: 93vh;
  height: 93vh;
  overflow: auto;
}

section.sub-sect {
  display: none;
}

section.sub-sect.active {
  display: block;
}

footer {
  background-color: orange;
  text-align: center;
  bottom: 0;
  width: 99vw;
  margin: auto;
  padding: 1vh 0;
  background-color: lightgray;
  border-radius: 10px;
}

footer .btn {
  width: 150px;
  margin: 0 35px;
  height: 5vh;
  border-radius: 5px;
  border: 1px solid black; 
  background-color: black;
  color: white;
  font-size: 20px;
  cursor: pointer;
}