<article class="blog-layout">
  <h1 id="article-top">Balanced Brackets</h1>
  <app-writer></app-writer>
  <mat-card class="card-note">
    <fa-icon [icon]="faLanguage" style="margin-right: 10px;" size="lg"></fa-icon> Para la version en español <a
      [routerLink]="['/blog','balanceo-de-parentesis']">da click aquí.</a>
  </mat-card>

  <p>Welcome to this article where we will solve the balanced brackets problem.
    The code with the solution is written in different programming languages; with this I attempt to eliminate the
    language barrier and you can review the algorithm on the programming language you are more comfortable with.</p>
  <p>You can find this problem in the following sites: </p>
  <app-chips [data]="sites"></app-chips>
  <p>While I think you will get more out of this article if you read it top to bottom, I'm leaving the index here, so
    you can skip to whatever section you want:</p>
  <ul>
    <li> <a routerLink="." fragment="definition">Definition</a></li>
    <li> <a routerLink="." fragment="solution">Solution</a></li>
    <li> <a routerLink="." fragment="code">Code</a></li>
    <li> <a routerLink="." fragment="bigo">Big O analysis</a></li>
    <li> <a routerLink="." fragment="conclusion">Wrapping up</a></li>
  </ul>
  <hr />

  <h2 id="definition">Definition</h2>
  <p>Given a string composed only by opening and closing symbols, you can say the string is
    <u>balanced</u> if and only if for each opening bracket <span class=" inline-code">(</span> <span
      class="inline-code">&lcub;</span><span class="inline-code">[</span> there is one closing bracket <span
      class="inline-code">)</span><span class="inline-code">&rcub;</span><span class="inline-code">]</span>
    of the same type.
  </p>
  <p>With this, we can say that the string is balanced if the following conditions are true:</p>
  <ul>
    <li>For each opening bracket the corresponding closing bracket has to exists, following this pairs:
      <ul>
        <li> <span class="inline-code">()</span> </li>
        <li> <span class="inline-code">&lcub;&rcub;</span> </li>
        <li> <span class="inline-code">[]</span> </li>
      </ul>
    </li>
    <li>Such closing bracket must exists to the right side of the opening bracket.</li>
  </ul>
  <p>In case the given string is properly balanced our algorithm will return the value <span
      class="inline-code">true</span>, otherwise it will return <span class="inline-code">false</span>.</p>

  <h3>Restrictions</h3>
  <table mat-table [dataSource]="restrictionDataSource" class="mat-elevation-z8 hide-header lg-table align-center">
    <!-- Code Column -->
    <ng-container matColumnDef="nomenclatura">
      <td mat-cell *matCellDef="let element"> {{element['nomenclatura']}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="desc">
      <td mat-cell *matCellDef="let element"> <span [innerHTML]="element.desc"></span> </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="back-to-top">
    <a routerLink="." fragment="article-top">Back to top</a>
  </div>
  <hr />

  <h2 id="solution">Solution</h2>
  <mat-card class="card-note">
    <fa-icon [icon]="faExclamationCircle" style="margin-right: 10px;" size="lg"></fa-icon> A video solution exists for
    this problem, head to <a href="https://www.youtube.com/channel/UC547pgqomI0IcjOmltxQdAQ" target="_blank">visit my
      YouTube Channel</a> to watch it.
  </mat-card>
  <p>This algorithm has the following topics:</p>
  <section>
    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)">
      <mat-chip class="example-box" color="primary" selected cdkDrag *ngFor="let topic of topics">
        <fa-icon [icon]="icons[topic]" style="margin-right: 10px;"></fa-icon> {{topic}}
      </mat-chip>
    </mat-chip-list>
  </section>
  <p>We are using a <span class="inline-code">for loop</span> to read the given string one character at a time and we
    will have to make some decisions according with the bracket it is. First thing is to define we will have two major
    groups of brackets: opening and closing brackets.</p>
  <p>If current char is an opening bracket, we are going to store it in a Stack. With this, we can assure immediate and
    LIFO access to all opening brackets we are reading from the string.</p>
  <p>If current char is a closing bracket, we are going to compare it against the top character from the stack, which by
    definition it will be an opening bracket.</p>
  <p>If these two brackets are a corresponding pair of opening and closing brackets, it means the conditions has been
    met and we should continue processing the remainder of the string.</p>
  <p>If at any point, we find the closing and opening brackets do not match their pair, then we know the string is not
    balanced and there's no point continue processing the remainder of the string.</p>
  <p>The conditions that makes our logic confirms the string is <u>not</u> balanced are:</p>
  <ul>
    <li>If we found a closing bracket and the opening bracket's stack is empty.</li>
    <li>If when finishing reading the string, we have elements left in the stack.</li>
    <li>If the closing bracket does not correspond to the last pushed opening bracket from the stack.</li>
  </ul>
  <p>After previous validations, if we end up processing the entire string and the stack is empty, the we can be sure
    that the brackets are balanced.</p>
  <p>Now it's time to put this into code:</p>
  <div class="back-to-top">
    <a routerLink="." fragment="article-top">Back to top</a>
  </div>
  <hr />

  <script src="https://gist.github.com/jocelo/76dcae2d25d7e5d7fb66e7e45aa0513c.js"></script>

  <h2 id="code">Code</h2>

  <app-code-block [code]="the_code" [codeSteps]="codeSteps"></app-code-block>

  <div class="back-to-top">
    <a routerLink="." fragment="article-top">Back to top</a>
  </div>
  <hr />

  <h2 id="bigo">Big O Analysis</h2>
  <p>The operations that influence the Big O in terms of <u>time</u> are contained in the following table:</p>
  <table mat-table [dataSource]="bigODataSource" class="mat-elevation-z8 lg-table align-center">
    <!-- Time Column -->
    <ng-container matColumnDef="tiempo">
      <th mat-header-cell *matHeaderCellDef> Time </th>
      <td mat-cell *matCellDef="let element"> {{element.tiempo}} </td>
    </ng-container>

    <!-- Desc Column -->
    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element"> <span [innerHTML]="element.desc"></span> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsBigO"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsBigO;"></tr>
  </table>
  <p>In terms of <u>space</u> we are using a stack variable to store each opening bracket.</p>
  <p>Worst case scenario would be that all the characters in the given string are opening brackets; this will make our
    stack grow to be the same size as the length of the given string. That will give us a space complexity of <span
      class="inline-code">O(n)</span>.</p>
  <p><u>In conclusion</u> the results of the Big O analysis for the balanced brackets problem is:</p>
  <p>Time: <strong>O(n)</strong></p>
  <p>Space: <strong>O(n)</strong></p>
  <p>Where <span class="inline-code">n</span> is the length of the given string.</p>
  <div class="back-to-top">
    <a routerLink="." fragment="article-top">Back to top</a>
  </div>
  <hr />

  <h2 id="conclusion">Wrapping Up</h2>
  <p>Thank you for reading this article!</p>
  <p>We went through the balanced brackets algorithm+solution in different programming languages, I really hope this has
    helped you. Leave your comments if you have found a bug in the code, or if you have any other way of solving this
    problem.
  </p>
  <hr />

  <app-read-next></app-read-next>
</article>