article {
  margin: 0 250px;
  padding-bottom: 80px;
}
hr {
  margin: 30px 100px;
}

ul li {
  margin: 5px 0;
}

span.inline-code {
  background-color: lightgray;
  padding: 5px 8px;
  font-family: monospace;
  border-radius: 5px;
}

.mat-column-desc {
  padding-left: 24px;
}

.mat-card.card-note {
  margin: 15px 0;
  background-color: lightskyblue;
}

ol.steps li {
  padding: 5px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  article {
    margin: 0 10px;
    padding-bottom: 80px;
  }
}
