.certificates-container {
	text-align: center;
}

.cert-container {
	display: inline-block;
	width: 350px;
	text-align: center;
	vertical-align: top;
}

.image-container img {
	box-shadow: 0 0 15px gray;
}

.cert-desc {
	padding: 0 30px;
}

.cert-date {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 0 0;
}