<article class="blog-layout">
  <h1 id="article-top">{{postTitle}}</h1>
  <app-writer></app-writer>

  <mat-card class="card-note">
    <fa-icon [icon]="faLanguage" style="margin-right: 10px;" size="lg"></fa-icon> Para la version en español <a
      [routerLink]="['/blog','que-es-una-pila']">da click aquí.</a>
  </mat-card>

  <p>Welcome to this article where we will discuss about one of the most useful data structures when it comes to solve
    programming exercises, specially when finding optimal solutions.</p>
  <p>I would recommend you to read the article top-bottom, however if you are super curious about the implementation, or
    the Big O analysis, you can skip to that section using the index below:</p>
  <ul>
    <li> <a routerLink="." fragment="definition">Definition</a></li>
    <li> <a routerLink="." fragment="code">Code</a></li>
    <li> <a routerLink="." fragment="bigo">Complexity analysis (big O)</a></li>
    <li> <a routerLink="." fragment="conclusion">Wrapping up</a></li>
  </ul>
  <hr />

  <h2 id="definition">Definition</h2>
  <p>The Stack: is a data structure or also an abstract data type that implements the <u>LIFO</u> principle.</p>
  <p>LIFO stands for <i>Last Input First Output</i>; in simpler terms <b>The last element that was pushed is the first
      element that comes out.</b></p>
  <p>A simple analogy to grasp this concept: just think about a can of Pringles... when getting your hand in to get one
    chip, you are <i>first</i> grabbing the <i>last</i> chip that was put into the can.</p>
  <p>Other example: Think about the browser history on Firefox/Chrome, etc: every time you click a link and a new page
    loads, the page you are leaving is inserted into the <b>stack</b>. So whenever you click on the back button, you are
    actually retrieving the last element you inserted... until you reach the <u>bottom</u> or <u>end</u> of the stack.
  </p>
  <p>Or the classical example... a stack of dishes, from where you can only pick the dish from the top of the stack
    (unless you would also want to pick up a broom).</p>
  <p>Ok now that we understand what is a stack, the basic operations you can perform on a stack are <u>inserting</u> a
    new element and <u>retrieving</u> one
    element. These two basic operations are usually called <span class="inline-code">push</span> and <span
      class="inline-code">pop</span> respectively.
  </p>
  <p>To implement these, it's all up to the programming language of your choice and its most likely the language already
    has this abstract data type included and ready to be used in it's core features so you just have to learn how to use
    it. In general, an array or list
    is used to implement a stack.</p>
  <p>Push and pop operations are always executed on the <u>top of the stack</u>; This term is used to define the
    <i>end</i> of the list.
  </p>

  <p>In the next section, we will review the implementation and usage of a stack in a couple of programing languages.
    You will find it's pretty similar.</p>
  <div class="back-to-top">
    <a routerLink="." fragment="article-top">Back to top</a>
  </div>
  <hr />

  <h2 id="code">Code</h2>
  <app-code-block [code]="theCode" [codeSteps]="codeSteps" [pseudoCode]="pseudoCode" [pseudoNotes]="pseudoNotes">
  </app-code-block>
  <div class="back-to-top">
    <a routerLink="." fragment="article-top">Back to top</a>
  </div>
  <hr />

  <h2 id="bigo">Complexity analysis (big O)</h2>
  <p>The stack is an abstract data type with tons of different use cases. In terms of time complexity while
    reading and writing is <b>constant</b> or <b>O(1)</b>. That is because all the operations are done at the <u>top of
      the
      stack</u>; we don't have to reorder or move any other elements of the stack while performing push and pop
    operations.</p>
  <div class="back-to-top">
    <a routerLink="." fragment="article-top">Back to top</a>
  </div>
  <hr />

  <h2 id="conclusion">Wrapping up</h2>
  <p>Thanks for reading through this article!</p>
  <p>The stack is an abstract data type highly used in optimization problems.
    <i>In general</i> is already implemented in most of programing languages. Frequently an <span
      class="inline-code">array</span> (a list in Python) already have the corresponding <span
      class="inline-code">push</span> and <span class="inline-code">pop</span> methods we need to work with the stack.
  </p>
  <p>A stack is perfect data type to solve problems like: <a [routerLink]="['/blog','balanced-brackets']">balanced
      brackets</a>.
  </p>
  <!-- <p>Es común también, que las pilas sean vistas o implementadas como listas enlazadas simples.</p> -->
  <p>It's a wrap folks! Now you have the basic knowledge of a stack and you can and should start using
    it in your code whenever you see it fit.</p>
  <hr />

  <app-read-next></app-read-next>
</article>