.code-section {
  position: relative;
}

.code-section .linexline-toggle {
  position: absolute;
  right: 25px;
  top: 75px;
  color: white;
  z-index: 3;
  cursor: pointer;

  &:hover {
    color: cornflowerblue;
  }
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.fake-link {
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}