<section class="code-container">
  <p *ngIf="language=='en'">Maximize the code window so you can toggle <span class="fake-link"
      (click)="openDialog()">line by line <mat-icon class="material-icons md-18" (click)="openDialog()">launch
      </mat-icon></span>. It might help you grasp the ideas behind the algorithm.
  </p>
  <p *ngIf="language=='es'">Maximiza la ventana del código para que actives el modo <span class="fake-link"
      (click)="openDialog()">linea por linea
      <mat-icon class="material-icons md-18" (click)="openDialog()">launch</mat-icon>
    </span>. Podrás ver comentarios por cada linea de código y analizaras el algoritmo paso a paso.
  </p>
  <section class="code-container">
    <div class="code-section">
      <span class="linexline-toggle" (click)="openDialog()">
        <mat-icon class="material-icons md-36">launch</mat-icon>
      </span>
      <mat-tab-group mat-align-tabs="start" (focusChange)="myTabFocusChange($event)">

        <!-- Java -->
        <mat-tab label="java">
          <ng-template mat-tab-label>
            <fa-icon [icon]="faJava" style="margin-right: 10px;" size="2x"></fa-icon> Java
          </ng-template>
          <!-- {{code.js_code}} -->
          <pre><code [highlight]="code.java_code" [lineNumbers]="true"></code></pre>
        </mat-tab>

        <!-- Javascript -->
        <mat-tab label="javascript">
          <ng-template mat-tab-label>
            <fa-icon [icon]="faJsSquare" style="margin-right: 10px;" size="2x"></fa-icon> Javascript
          </ng-template>
          <!-- {{code.js_code}} -->
          <pre><code [highlight]="code.js_code" [lineNumbers]="true"></code></pre>
        </mat-tab>

        <!-- Python -->
        <ng-template [ngIf]="code['py_code']">
          <mat-tab *ngIf="code['py_code']" label="python">
            <ng-template mat-tab-label>
              <fa-icon [icon]="faPython" style="margin-right: 10px;" size="2x"></fa-icon> Python 3
            </ng-template>
            <pre><code [highlight]="code.py_code" [lineNumbers]="true"></code></pre>
          </mat-tab>
        </ng-template>

        <!-- Python 2 -->
        <ng-template [ngIf]="code['py2_code']">
          <mat-tab label="python2">
            <ng-template mat-tab-label>
              <fa-icon [icon]="faPython" style="margin-right: 10px;" size="2x"></fa-icon> Python
            </ng-template>
            <pre><code [highlight]="code.py2_code" [lineNumbers]="true"></code></pre>
          </mat-tab>
        </ng-template>

        <!-- Python 3 -->
        <ng-template [ngIf]="code['py3_code']">
          <mat-tab *ngIf="code['py3_code']" label="python3">
            <ng-template mat-tab-label>
              <fa-icon [icon]="faPython" style="margin-right: 10px;" size="2x"></fa-icon> Python
            </ng-template>
            <pre><code [highlight]="code.py3_code" [lineNumbers]="true"></code></pre>
          </mat-tab>
        </ng-template>

        <!-- PHP  -->
        <mat-tab label="php">
          <ng-template mat-tab-label>
            <fa-icon [icon]="faPhp" style="margin-right: 10px;" size="2x"></fa-icon> PHP
          </ng-template>
          <pre><code [highlight]="code.php_code" [lineNumbers]="true"></code></pre>
        </mat-tab>
      </mat-tab-group>
    </div>
  </section>