<section class="code-container">
  <p *ngIf="language=='en'">Maximize the code window so you can toggle <b>line by line</b> (<fa-icon
      (click)="toggleLineByLine()" [icon]="faPlusCircle">
    </fa-icon>) mode. It might help you grasp the ideas behind the algorithm.
  </p>
  <p *ngIf="language=='es'">Maximiza la ventana del código para que actives el modo <b>linea por linea</b> (<fa-icon
      (click)="toggleLineByLine()" [icon]="faPlusCircle">
    </fa-icon>) y analices el algoritmo paso a paso.
  </p>
  <section class="code-container" [ngClass]="{'line-by-line': lineByLine}">
    <div class="code-section">
      <span class="linexline-toggle" (click)="toggleLineByLine()" *ngIf="!lineByLine">
        <fa-icon [icon]="faPlusCircle" size="3x"></fa-icon>
      </span>
      <mat-tab-group mat-align-tabs="start" (focusChange)="myTabFocusChange($event)">
        
        <!-- Javascript -->
        <mat-tab label="javascript">
          <ng-template mat-tab-label>
            <fa-icon [icon]="faJsSquare" style="margin-right: 10px;" size="2x"></fa-icon> Javascript
          </ng-template>
          <pre><code [highlight]="code.js_code" [lineNumbers]="true"></code></pre>
        </mat-tab>

        <!-- Python -->
        <ng-template [ngIf]="code['py_code']">
          <mat-tab *ngIf="code['py_code']" label="python">
            <ng-template mat-tab-label>
              <fa-icon [icon]="faPython" style="margin-right: 10px;" size="2x"></fa-icon> Python
            </ng-template>
            <pre><code [highlight]="code.py_code" [lineNumbers]="true"></code></pre>
          </mat-tab>
        </ng-template>

        <!-- Python 2 -->
        <ng-template [ngIf]="code['py2_code']">
          <mat-tab label="python2">
            <ng-template mat-tab-label>
              <fa-icon [icon]="faPython" style="margin-right: 10px;" size="2x"></fa-icon> Python
            </ng-template>
            <pre><code [highlight]="code.py2_code" [lineNumbers]="true"></code></pre>
          </mat-tab>
        </ng-template>

        <!-- Python 3 -->
        <ng-template [ngIf]="code['py3_code']">
          <mat-tab *ngIf="code['py3_code']" label="python3">
            <ng-template mat-tab-label>
              <fa-icon [icon]="faPython" style="margin-right: 10px;" size="2x"></fa-icon> Python
            </ng-template>
            <pre><code [highlight]="code.py3_code" [lineNumbers]="true"></code></pre>
          </mat-tab>
        </ng-template>
        
        <!-- PHP  -->
        <mat-tab label="php">
          <ng-template mat-tab-label>
            <fa-icon [icon]="faPhp" style="margin-right: 10px;" size="2x"></fa-icon> PHP
          </ng-template>
          <pre><code [highlight]="code.php_code" [lineNumbers]="true"></code></pre>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="explain-section">
      <h3>Line-by-Line <span class="closelxl" (click)="toggleLineByLine()">
          <fa-icon [icon]="faTimesCircle" style="margin-right: 10px;" size="2x"></fa-icon>
        </span></h3>
      <mat-card class="card-note">
        <fa-icon [icon]="faSearch" size="lg"></fa-icon>
        <span *ngIf="language=='en'">Move the cursor over each numbered instructions from the pseudo-code so you can
          match up more easily the pseudo-code and the real code.</span>
        <span *ngIf="language=='es'">Mueve el cursor sobre cada instrucción de pseudo-código abajo para que puedas
          analizar cada sección del algoritmo.</span>
      </mat-card>
      <ol class="steps">
        <li *ngFor="let s of pseudoCode" [id]="s.stepNo" (mouseover)="showTheThing($event)" (mouseout)="hideTheThing()">
          <span [innerHTML]="s.desc"></span>
          <ul *ngIf="s.notes && showNotes()">
            <li [id]="s.notes.noteNo"> <span [innerHTML]="s.notes.desc"></span></li>
          </ul>
        </li>
        <section *ngIf="pseudoNotes && pseudoNotes[lblMode]">
          <p *ngFor="let note of pseudoNotes[lblMode]">
            <span [innerHTML]="note"></span>
          </p>
        </section>
      </ol>
    </div>
  </section>
</section>