<h3>Abstract</h3>
<div class="section-container">
  <p>Working right as UI/front end developer for the client's website of a provider of voice and data network communications and managed services Company to businesses in the United States. Located in King of Prussia, PA.</p>
  <p>Mentoring developers for JavaScript in <a href="https://exercism.io" target="_blank">exercism <fa-icon [icon]="faExternalLinkAlt" size="sm"></fa-icon></a> website. On this website a student can learn a language by solving exercises; each one of this exercises teaches a single concept and the code is evaluated manually by mentors. </p>
  <p>Creating youtube content as <a href="https://www.youtube.com/channel/UC547pgqomI0IcjOmltxQdAQ" target="_blank">the new guy <fa-icon [icon]="faExternalLinkAlt" size="sm"></fa-icon></a> to share knowledge in assorted topics, mainly in JavaScript, Web technologies and algorithms.</p>
</div>

<h3>Tech stack</h3>
<div class="section-container">
  <app-tech-stack shortVersion=true></app-tech-stack>
</div>

<h3>Languages</h3>
<div class="section-container languages">
  <div class="lang-section spa-lang">
    <h4>Spanish</h4>
    <span *ngFor="let i of [1,2,3,4,5]">
      <fa-icon  [icon]="faPepperHot" size="lg"></fa-icon>
    </span>
    <p class="prof">Native</p>
  </div>
  <div class="lang-section eng-lang">
    <h4>English</h4>
    <span *ngFor="let i of [1,2,3,4,5]">
        <fa-icon class="fluent" [icon]="faStar" size="lg"></fa-icon>
    </span>
    <p class="prof">Fluent</p>
  </div>
  <div class="lang-section french-lang">
    <h4>French</h4>
    <span *ngFor="let i of [1,2,3,4,5]">
        <fa-icon class="novice" [icon]="faLeaf" size="lg"></fa-icon>
    </span>
    <p class="prof">Basic</p>
  </div>
</div>