<h3>Current Work</h3>
<div class="section-container">
  <p>Working right as UI/front end developer for the client's website of a provider of voice and data network communications and managed services Company to businesses in the United States. Located in King of Prussia, PA.</p>
  <p></p>
</div>

<h3>Tech stack</h3>
<div class="section-container">
  <app-tech-stack></app-tech-stack>
</div>

<h3>Languages</h3>
<div class="section-container">
  <div class="lang-section spa-lang">
    <p>Spanish</p>
    <span *ngFor="let i of [1,2,3,4,5]">
      <fa-icon  [icon]="faPepperHot" size="lg"></fa-icon>
    </span>
    <p class="prof">Native</p>
  </div>
  <div class="lang-section eng-lang">
    <p>English</p>
    <span *ngFor="let i of [1,2,3,4,5]">
        <fa-icon class="fluent" [icon]="faStar" size="lg"></fa-icon>
    </span>
    <p class="prof">Fluent</p>
  </div>
  <div class="lang-section french-lang">
    <p>French</p>
    <span *ngFor="let i of [1,2,3,4,5]">
        <fa-icon class="novice" [icon]="faLeaf" size="lg"></fa-icon>
    </span>
    <p class="prof">Basic</p>
  </div>
  <div class="caca">OOOO</div>
  <div class="caca">OOOO</div>
  <div class="caca">OOOO</div>
</div>