<section>
  <mat-toolbar class="desktop-nav nav-bar">
    <span class="pointer sub-header">
      <a routerLink="/latest">Blog</a>
      <a routerLink="/certifications">Certifications</a>
    </span>
    <span>
      <h1 class="pointer main-header" (click)="openSection('/')">alfredo alonso</h1>
    </span>
    <span class="sub-header">
      <a routerLink="/home">About me</a>
      <!-- <a href="https://github.com/jocelo" class="icon_width" target="_blank">
        <fa-icon [icon]="faIcons.github" size="lg"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/in/alfredoae/" target="_blank">
        <fa-icon [icon]="faIcons.linkedin" size="lg"></fa-icon>
      </a> -->
    </span>
  </mat-toolbar>

  <mat-toolbar class="mobile-nav nav-bar">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openSection('latest')">
        <mat-icon>rss_feed</mat-icon>
        <span>Blog</span>
      </button>
      <button mat-menu-item (click)="openSection('portfolio')">
        <mat-icon>work_outline</mat-icon>
        <span>Projects</span>
      </button>
      <button mat-menu-item (click)="openSection('certifications')">
        <mat-icon>card_membership</mat-icon>
        <span>Certifications</span>
      </button>
      <!-- <button mat-menu-item (click)="openSection('videos')">
        <mat-icon>video_library</mat-icon>
        <span>Videos</span>
      </button> -->
    </mat-menu>
    <span class="pointer" (click)="openSection('/')">alfredo alonso </span>
    <span class="example-spacer"></span>

    <a href="https://github.com/jocelo" class="icon_width" target="_blank">
      <fa-icon [icon]="faIcons.github" size="lg"></fa-icon>
    </a>

    <a href="https://www.linkedin.com/in/alfredoae/" target="_blank">
      <fa-icon [icon]="faIcons.linkedin" size="lg"></fa-icon>
    </a>
  </mat-toolbar>
</section>
<!-- 
<div class="menu left-menu">
  <div *ngIf="!showLinks" class="floating-items">
    <a routerLink="/all" class="brand-icon" *ngIf="!showLinks">alfredo</a>
    <a routerLink="/blog">Blog</a>
    <a routerLink="/portfolio" [ngClass]="{'active-item' : this.selectedItem === 'portfolio'}">Portfolio</a>
    <a routerLink="/certifications"
      [ngClass]="{'active-item' : this.selectedItem === 'certifications'}">Certifications</a>
    <a class="disabled">Store</a>
    <a href="https://www.youtube.com/channel/UC547pgqomI0IcjOmltxQdAQ" target="_blank">Videos</a>
    <span class="mobile-title"> {{"<\ / "+mobileSectionTitle}} > </span>
  </div>
</div>
<div class=" menu right-menu">
        <span class="icon">
          <a href="https://github.com/jocelo" target="_blank">
            <fa-icon [icon]="faIcons.github" size="2x"></fa-icon>
          </a>
        </span>
        <span class="icon">
          <a href="https://www.linkedin.com/in/alfredoae/" target="_blank">
            <fa-icon [icon]="faIcons.linkedin" size="2x"></fa-icon>
          </a>
        </span>
        <span class="hamburger">
          <fa-icon *ngIf="!showMobileMenu" [icon]="faIcons.faCaretSquareDown" size="2x" (click)="toggleMenu()">
          </fa-icon>
          <fa-icon *ngIf="showMobileMenu" [icon]="faIcons.faCaretSquareUp" size="2x" (click)="toggleMenu()"></fa-icon>
        </span>
  </div>
  <hr />

  <div *ngIf="showMobileMenu" class="navbar mobile-menu">
    <a routerLink="/blog">
      <fa-icon [icon]="faIcons.faRss"></fa-icon> <span class="menu-option">Blog</span>
    </a>
    <a routerLink="/portfolio">
      <fa-icon [icon]="faIcons.suitcase"></fa-icon> <span class="menu-option">Portfolio</span>
    </a>
    <a routerLink="/certifications">
      <fa-icon [icon]="faIcons.award"></fa-icon> <span class="menu-option">Certifications</span>
    </a>

    <a href="https://www.youtube.com/channel/UC547pgqomI0IcjOmltxQdAQ" target="_blank">
      <fa-icon [icon]="faIcons.youtube"></fa-icon> <span class="menu-option">Videos</span>
    </a>
    <hr class="menu-divisor">
    <a href="https://github.com/jocelo" target="_blank">
      <fa-icon [icon]="faIcons.github"></fa-icon> <span class="menu-option">Github</span>
    </a>
    <a href="https://www.linkedin.com/in/alfredoae/" target="_blank">
      <fa-icon [icon]="faIcons.linkedin"></fa-icon> <span class="menu-option">LinkedIn</span>
    </a>
  </div> -->