<article class="blog-layout">
  <h1>Balanceo de Parentesis</h1>
  <p>Bienvenidos a este articulo donde estaremos resolviendo el ejercicio de balanceo de parentesis. Si deseas ver la
    version en ingles lo puedes hacer en esta liga.</p>
  <p>Este problema lo encuentras en los siguientes sitios: </p>
  <app-chips [data]="sites"></app-chips>
  <h2>Definicion</h2>
  <p>Se requiere validar si una cadena de caracteres se considera <span>balanceada</span> si y solo si por cada
    parentesis
    de apertura <span class="inline-code">(&lcub;[</span> existe un parentesis de cierre <span
      class="inline-code">)&rcub;]</span> correspondiente.</p>
  <p>Asi pues, una cadena de parentesis esta balanceada si cumple las siguientes condiciones:</p>
  <ul>
    <li>por cada parentesis de apertura, debera existir un parentesis de cierre.</li>
    <li>dicho parentesis de cierre, se debe encontrar hacia la derecha del parentesis de apertura.</li>
  </ul>
  <p>En caso de que la cadena provista este balanceada correctamente, nuestra funcion debera regresar el valor <span
      class="inline-code">true</span>, de
    lo contrario regresara <span class="inline-code">false</span>.</p>
  <h2>Restricciones</h2>
  <table>
    <tbody>
      <tr>
        <td>i >= 0</td>
        <td>donde i es la longitud de la cadena</td>
      </tr>
      <tr>
        <!-- TODO: agregar notacion de reg exp -->
        <td>n[i] = ''|&lcub;|[|(|)|]|&rcub;</td>
        <td>donde cada caracter n[i] puede ser solamente uno de los caracteres validos de la lista</td>
      </tr>
    </tbody>
  </table>
  <p>En este ejercicio y su correspondiente solucion, se tocan los siguientes temas:</p>
  <section>
    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)">
      <mat-chip class="example-box" color="primary" selected cdkDrag *ngFor="let topic of topics">
        <fa-icon [icon]="icons[topic]" style="margin-right: 10px;"></fa-icon> {{topic}}
      </mat-chip>
    </mat-chip-list>
  </section>
  <h2>Solución</h2>

  <p>Note: Esta solucion se encuentra en video, para verlo sigue esta liga.</p>
  <p>Para resolver este problema, usaremos una pila, en la cual vamos a ir guardando cada parentesis de apertura que
    encontremos, recordando los parentesis de apertura es alguno de estos: &lcub;|[|(.
  </p>
  <p>Vamos a usar un ciclo para leer nuestra cadena caracter por caracter y tendremos un par de decisiones que tomar de
    acuerdo a cada tipo de parentesis. Lo primero que tenemos que definir es que tendremos principalmente dos grupos de
    parentesis: de apertura y de cierre.</p>
  <p>Si es un parentesis de apertura, vamos a almacenarlo en nuestra pila. Asi podremos leer primero el ultimo
    parentesis que almacenemos.</p>
  <p>Si es un parentesis de cierre, lo vamos a comparar contra el último parentesis de apertura que insertamos en
    nuestra pila</p>
  <p>Si dichos parentesis de cierre y apertura es un par correspondiente, significa que se cumplen las condiciones
    del ejercicio y podemos seguir procesando nuestra cadena.</p>
  <p>Las condiciones que hacen que la funcion regrese false son:</p>
  <ul>
    <li>Si estamos procesando un parentesis de cierre, y nuestra pila de parentesis de apertura esta vacía.</li>
    <li>Si al terminar de leer la cadena, nuestra pila aun tiene elementos.</li>
    <li>Si el parentesis de cierre, no corresponde al ultimo de apertura que se guardo en la pila.</li>
  </ul>
  <p>Si terminamos de leer toda la cadena y nuestra pila esta vacia, significa que la cadena esta balanceada!</p>

  <h2>Código</h2>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Javascript">
      <app-code-block [code]="js_code"></app-code-block>
    </mat-tab>
    <mat-tab label="Python">
      <app-code-block [code]="py_code"></app-code-block>
    </mat-tab>
    <mat-tab label="PHP">
      <app-code-block [code]="php_code"></app-code-block>
    </mat-tab>
  </mat-tab-group>
  <p>Ver en modo linea a linea</p>
  <h2>Analisis de big O</h2>
  <p appHighlight>Los factores que afectan el analisis de la big O en cuanto a tiempo:</p>
  <table>
    <tbody>
      <tr>
        <td>O(n)</td>
        <td>Donde <span class="inline-code">n = longuitud del array.</span> <br> Debemos leer al menos una ves todo el
          array.</td>
      </tr>
      <tr>
        <td>O(1)</td>
        <td>Usamos una pila para almacenar los parentesis de apertura; como sabemos, usando esta estructura de datos
          tenemos una constante para el tiempo en notacion big O.</td>
      </tr>
    </tbody>
  </table>
  <p>En relacion a espacio, estamos usando una variable como pila para almacenar cada valor de nuestra cadena original;
    el peor escenario que podriamos tener es una cadena compuesta solamente por parentesis de apertura, lo que nos dar
    una complejidad de O(n), donde n es la longitud de la cadena original.</p>
  <p>Concluimos entonces que nuestra big O es:</p>
  <table>
    <thead>
      <tr>
        <th>Tiempo</th>
        <th>Espacio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>O(n)</td>
        <td>O(n)</td>
      </tr>
    </tbody>
  </table>
  <h2>Conclusión</h2>
  <p></p>
</article>