article {
  margin: 0 250px;
}

span.inline-code {
  background-color: lightgray;
  padding: 5px 8px;
  font-family: monospace;
  border-radius: 5px;
}

.code-highlight {
  background: rgba(255,0,0,0.5);
  top: -1px;
  left: -6px;
  width: 500px;
  height: 120%;
  z-index: 40;
  position: absolute;
}