<div>
  <div class="headers">
    
  </div>
  <div class="main-container">
    
    <!-- Headers -->
    <div class="single-row">
      <div class="tech-name">Javascript</div>
      <div class="time-lapse">
        <span class="time-square" *ngFor="let o of cols">{{o}}</span>
      </div>
      <div class="time-of-exp">7 years</div>
    </div>

    <!-- First Level -->
    <div class="roww" *ngFor="let tech of techstack">
      <div>
        <span *ngIf="tech.details.length >= 1" class="details-lv1" [ngClass]=" 1 === 1 ? 'more-details' : ''"><fa-icon [icon]="faAngleDoubleDown"></fa-icon></span>
        <span>{{tech.title}}</span>
        <span class="time-square" *ngFor="let o of cols">{{o}}</span>
      
        <!-- Second Level -->
        <div *ngFor="let subtech of tech.details">
          <span>{{subtech.title}}</span>
          <span class="time-container">
          </span>

          <!-- Third Level -->
          <div *ngFor="let specificTech of subtech.details">
            <span>{{specificTech.title}}</span>
          </div> <!-- Third level -->
        </div> <!-- Second level -->
      </div> <!-- First level -->
    </div>
  </div>
</div>