.details-lv1 {
  display: inline-block;
  width: 12px;
}

.details-lv1:before {
  content: ' ';
}

.roww {
  display: flex;
}

.time-square {
  display: inline-block;
  border: 1px solid black;
  background-color: rgba(125, 125, 125, 0.3);
}

.time-container {
  display: flex;
}

.single-row {
  display: flex;
}