<div class="main-body">
  <div *ngIf="false" class="search-area">
    <input type="text" class="search-input" [(ngModel)]="searchToken" name="searchToken"
      (keydown.enter)="goSearch($event)">
    <fa-icon class="search-icon" (click)="goSearch($event)" [icon]="faSearch" style="margin-left: 10px;" size="lg">
    </fa-icon>
    <p *ngIf="invalidSearchToken" class="invalid-search-token">Enter a valid search token.</p>
  </div>
  <section class="blog-body">
    <h1 class="language-header">
      <span class="title">Latest Articles</span>
      <span> <a (click)="changeLanguage('es')">
          <img class="lang-flag" [ngClass]="{'grayed': langMode == 'en'}" src="assets/mx.svg" width="30px"></a>
      </span>
      <span> <a (click)="changeLanguage('en')">
          <img class="lang-flag" [ngClass]="{'grayed': langMode == 'es'}" src="assets/us.svg" width="30px"></a>
      </span>
    </h1>
    <section class="articles">
      <article class="one-article" *ngFor="let post of posts">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title class="pointer" (click)="openArticle(post.url)">{{post.title}}</mat-card-title>
            <mat-card-subtitle (click)="openArticle(post.url)">{{post.publishedDate}}</mat-card-subtitle>
          </mat-card-header>

          <div class="picture-section">
            <img mat-card-image (click)="openArticle(post.url)" class="post-image pointer" src="assets/{{post.img}}">
          </div>

          <mat-card-content>
            <p class="pointer" (click)="openArticle(post.url)">{{post.desc}} <span *ngIf="post.readTime"
                class="time-to-read"> -
                {{post.readTime}} min read</span></p>

          </mat-card-content>
          <mat-card-actions class="bottom-section">
            <span *ngFor="let topic of post.topics" class="topic"><a href="blog/topic/{{topic}}">{{topic}}</a> </span>
          </mat-card-actions>
          <img class="lang-flag" [src]="post.flag" width="20px">
        </mat-card>
        <!--         
        <div class="top-section">
          <div class="picture-section">
            <img (click)="openArticle(post.url)" class="post-image pointer" src="assets/{{post.img}}">
            <span class="photo-desc"><span [innerHTML]="post.imgDesc"></span> </span>
          </div>
          <div class="post-container">
            <h2 (click)="openArticle(post.url)" class="pointer">{{post.title}}</h2>
            <div class="mobile-picture-section">
              <img src="assets/{{post.img}}" class="pointer" (click)="openArticle(post.url)">
            </div>
            <p class="post-body pointer" (click)="openArticle(post.url)">{{post.desc}}
              <span *ngIf="post.readTime" class="time-to-read"> -
                {{post.readTime}} min read</span>
            </p>
            <p class="published-date">Last Update: <i>{{post.publishedDate}}</i> </p>
          </div>
        </div>

        <div class="bottom-section">
          Topics:
          <span *ngFor="let topic of post.topics"><a href="blog/topic/{{topic}}">{{topic}}</a> </span>
        </div> -->
      </article>
    </section>

    <div class="newer-posts" *ngIf="false">
      go to newer posts
    </div>

    <div class="older-posts" *ngIf="false">
      go to older posts
    </div>
  </section>
</div>