<div class="main-body">
  <div *ngIf="false" class="search-area">
    <input type="text" class="search-input" [(ngModel)]="searchToken" name="searchToken"
      (keydown.enter)="goSearch($event)">
    <fa-icon class="search-icon" (click)="goSearch($event)" [icon]="faSearch" style="margin-left: 10px;" size="lg">
    </fa-icon>
    <p *ngIf="invalidSearchToken" class="invalid-search-token">Enter a valid search token.</p>
  </div>
  <section class="blog-body">
    <h1>Latest Posts</h1>
    <section *ngFor="let post of posts">
      <article>
        <div class="top-section">
          <div class="picture-section">
            <img (click)="openArticle(post.url)" class="post-image pointer" src="assets/{{post.img}}">
          </div>
          <div class="post-container">
            <h2 (click)="openArticle(post.url)" class="pointer">{{post.title}}</h2>
            <div class="mobile-picture-section">
              <img src="assets/{{post.img}}" class="pointer" (click)="openArticle(post.url)">
            </div>
            <p class="post-body pointer" (click)="openArticle(post.url)">{{post.desc}}</p>
            <p class="published-date">Last Update: <i>{{post.publishedDate}}</i> </p>
          </div>
        </div>

        <div class="bottom-section">
          Topics:
          <span *ngFor="let topic of post.topics"><a href="blog/topic/{{topic}}">{{topic}}</a> </span>
        </div>
      </article>
    </section>

    <div class="newer-posts" *ngIf="false">
      go to newer posts
    </div>

    <div class="older-posts" *ngIf="false">
      go to older posts
    </div>
  </section>
</div>