.blog-body {
    margin: 0 200px;
    padding-bottom: 50px;

    section.articles {
        column-count: 3;
    }

    .one-article {
        max-width: 300px;
        border: 1px solid gray;
        margin-bottom: 20px;
        background-color: white;
        display: inline-block;

        .pointer {
            cursor: pointer;
        }

        .time-to-read {
            color: darkslategray;
            font-style: italic;
            font-size: 0.9rem;
        }

        .published-date {
            text-align: right;
            margin-right: 15px;
            font-size: 0.8rem;
        }

        .top-section {
            display: flex;
            flex-direction: row;

            h2:hover {
                cursor: pointer;
            }

            div:first-child {
                flex: 1;
                padding: 20px;
            }

            div:last-child {
                flex: 2;
            }

            .post-container {
                display: flex;
                flex-direction: column;

                .post-body {
                    flex: 2;
                    margin: 0;
                }
            }
        }

        .bottom-section {
            background: lightgray;
            padding: 5px 10px;
        }

        .picture-section {
            text-align: center;

            .post-image {
                max-width: 310px;
            }

            .photo-desc {
                font-size: 0.8rem;
                color: darkslategray;
            }
        }

        .lang-flag {
            position: absolute;
            right: 8px;
            top: 8px;
        }

    }
}

.search-area {
    text-align: center;
    margin-bottom: 15px;
}

input.search-input {
    width: 250px;
    height: 20px;
    border-radius: 15px;
    padding: 2px 10px;
}

.search-icon {
    cursor: pointer;
}

.invalid-search-token {
    color: red;
}

.mobile-picture-section {
    text-align: center;
    display: none;

    & img {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {

    .mobile-picture-section {
        display: block;
    }

    .blog-body {
        margin: 0 20px;

        section.articles {
            column-count: 1;
            text-align: center;
        }
    }

    .picture-section {
        display: none;
    }

    .post-container {
        h2 {
            margin: 10px 15px;
        }
    }

    .post-body {
        padding: 10px;
    }


}

.example-card {
    max-width: 300px;
}

.mat-card-image:first-child {
    margin-top: 0;
}

.bottom-section {
    background: lightgray;
    margin: 16px -16px;
    padding: 5px;
    font-size: 0.9rem;

    span {
        padding: 0 10px;
        border-right: 1px solid lightslategray;
    }

    span:first-of-type {
        padding-left: 0;
    }

    span:last-of-type {
        border-right: 0;
    }
}

.mat-card .bottom-section.mat-card-actions {
    margin-bottom: -16px;
}