.section {
  margin: 20px 30px;
}

.section .header {
  color: blue;
  font-weight: bold;
}

.section .link a, .section .link a:hover, .section .link a:visited {
  color: green;
  text-decoration: none;
}

.section .desc {
  color: #666;
}