.section {
  margin: 20px 30px 20px 100px;

  & .header {
    color: slateblue;
    font-weight: bold;
  }

  & .link {
    font-size: 14px;
    padding: 3px 0;
  }

  & .desc {
    color: #666;
  }
}

.section .link a, 
.section .link a:hover, 
.section .link a:visited {
  color: green;
  text-decoration: none;
}

.tech-section {
  padding: 5px 0 0 0;

  & > span {
    margin: 0 10px;
  }

  & .icon {
    font-size: 20px;
    padding: 5px;
    color: gray;
  }

  & .tech-label {
    font-size: 13px;
    vertical-align: text-top;
  }
}