.project-container {
  text-align: center;
}

.project-item {
  display: inline-block;
  width: 400px;
  padding: 10px 30px;
  text-align: center;
  vertical-align: top;
  border-right: 1px dotted lightgray;

  .screenshot {
    width: 300px;
    box-shadow: 0 0 12px 5px lightgray;
  }

  & .header {
    color: slateblue;
    font-weight: bold;
    font-size: 18px;
  }

  & .link {
    font-size: 14px;
    padding: 3px 0;
    margin-bottom: 15px;
  }

  & .desc {
    color: #666;
    margin-top: 15px;
    font-size: 15px;
  }
}

.project-item:nth-child(3n+3) {
  border-right: none;
}

.project-item .link a, 
.project-item .link a:hover, 
.project-item .link a:visited {
  color: green;
  text-decoration: none;
}

.tech-section {
  border: 1px dotted purple;
  padding: 15px 5px;
  margin-top: 10px;

  & > span {
    margin: 0 10px;
  }

  & .icon {
    font-size: 20px;
    padding: 5px;
    color: gray;
  }

  & .tech-label {
    font-size: 13px;
    vertical-align: text-top;
  }
}

@media screen and (max-width: 700px) {
  .project-item {
    width: auto;
  }
}