<div class="section" *ngFor="let oneSection of projects">
  <div class="header"><a [href]="oneSection.link" target="_blank">{{oneSection.title}}</a></div>
  <div class="link"><a [href]="oneSection.link" target="_blank">{{oneSection.link}}</a></div>
  <div class="desc">{{oneSection.desc}}</div>
  <div class="tech-section">
    <span *ngFor="let tech of oneSection.techStack"> 
      <fa-icon class="icon" [icon]="faIcons[tech.icon]"></fa-icon> <span class="tech-label">{{tech.name}}</span>
    </span>
  </div>
</div>