<section class="disclaimer-container">
  <p><fa-icon [icon]="faDisclaimer" style="margin-right: 5px;" size="lg"></fa-icon>
    <span *ngIf="lang == 'en'"> <b>This is a personal blog.</b> Any views or opinions represented in this blog are personal and belong solely to the blog owner and do not represent those of people, institutions or organizations that the owner may or may not be associated with in professional or personal capacity unless explicity stated.</span>
    <span *ngIf="lang == 'es'"> <b>Este es un blog personal.</b> Todos los puntos de vista u opiniones plasmadas en este blog son personales y pertenecen exclusivamente al dueño del blog y no representan los de personas, instituciones u organizaciones con las que el propietario pueda o no estar asociado en su capacidad profesional o personal, al menos que se indique explícitamente.</span>
  </p>
</section>
