<section class="personal-section">
  <h3>Who am I ?</h3>
  <div class="section-container">
    <p>Web Developer by day, enthusiast game developer by night.</p>
    <p>70% front end + 30% backend = 150% technology enthusiast always looking for new things to learn and new challenges.</p>
    <p>Blog writer, with particular interests of <a [routerLink]="['/blog', 'topic', 'algorithms']">algorithms and data structures</a>, as well as <a [routerLink]="['/blog', 'topic', 'productivity']">productivity tips</a> and <a href="https://www.npmjs.com/package/ngx-ggist" target="_blank">random stuff</a> that triggers my interest.</p>
    <p>Generating content in YouTube as <a href="https://www.youtube.com/channel/UC547pgqomI0IcjOmltxQdAQ"
      target="_blank">The New Guy <fa-icon [icon]="faIcons.externallink" size="sm"></fa-icon></a>.</p>
    <p>Co-creator of <a href="https://matematicasconpaula.com" target="_blank">Matemáticas con Paula <fa-icon
          [icon]="faIcons.externallink" size="sm"></fa-icon></a>. Website created in partnership with a high school Math
      and Technology teacher with the goal to provide tools and resources for continuous learning of basic math concepts. We are
      targeting students and teachers with games, videos and resources to continue practicing and mastering basic math concepts.</p>
    <p>Spent time as JavaScript mentor in <a href="https://exercism.io" target="_blank">Exercism <fa-icon
          [icon]="faIcons.externallink" size="sm"></fa-icon></a> website. Exercism website is a non-profit platform that
      allows any person to learn a programming language by solving exercises; each exercise teaches a core concept.</p>
    <p>
      <a href="https://www.instagram.com/joceloae/" target="_blank">Shutterbug</a> and Father of <a href="https://www.youtube.com/channel/UCzIuIkFMCQ1uVWYQXDW_qSw" target="_blank">two princesses.</a>
    </p>
  </div>

  <!-- 
<h3>Languages</h3>
<div class="section-container languages">
  <div class="lang-section spa-lang">
    <h4>Spanish</h4>
    <span *ngFor="let i of [1,2,3,4,5]">
      <fa-icon  [icon]="faIcons.pepperhot" size="lg"></fa-icon>
    </span>
    <p class="prof">Native</p>
  </div>
  <div class="lang-section eng-lang">
    <h4>English</h4>
    <span *ngFor="let i of [1,2,3,4,5]">
        <fa-icon class="fluent" [icon]="faIcons.star" size="lg"></fa-icon>
    </span>
    <p class="prof">Fluent</p>
  </div>
  <div class="lang-section french-lang">
    <h4>French</h4>
    <span *ngFor="let i of [1,2,3,4,5]">
        <fa-icon class="novice" [icon]="faIcons.leaf" size="lg"></fa-icon>
    </span>
    <p class="prof">Basic</p>
  </div>
</div>
 -->

</section>