<section class="personal-section">
  <h3>Abstract</h3>
  <div class="section-container">
    <p>Currently working as a Fullstack Developer for a company located in greater Philadelphia.</p>
    <p>Co-creator of <a href="https://matematicasconpaula.com" target="_blank">Matemáticas con Paula <fa-icon
          [icon]="faIcons.externallink" size="sm"></fa-icon></a>. Website created in partnership with a high school Math
      and Technology teacher. Our goal is to provide tools and resources for continuous learning of such topics. We are
      targeting students with games, videos and printing materials and teachers with support material they can use for
      an
      additional tool to their teaching plans.</p>
    <p>JavaScript mentor in <a href="https://exercism.io" target="_blank">Exercism <fa-icon
          [icon]="faIcons.externallink" size="sm"></fa-icon></a> website. Exercism website is a non-profit platform that
      allows any person to learn a programming language by solving exercises; each exercise teaches a core concept.
      First
      set of exercises are core between languages but most advanced concepts might have specific exercises that can be
      solved by a very specific feature of each language. The solutions submited by students are evaluated manually by a
      group of mentors.</p>
    <p>Generating content and sharing in YouTube as <a href="https://www.youtube.com/channel/UC547pgqomI0IcjOmltxQdAQ"
        target="_blank">The New Guy <fa-icon [icon]="faIcons.externallink" size="sm"></fa-icon></a>.</p>
  </div>

  <!-- 
<h3>Languages</h3>
<div class="section-container languages">
  <div class="lang-section spa-lang">
    <h4>Spanish</h4>
    <span *ngFor="let i of [1,2,3,4,5]">
      <fa-icon  [icon]="faIcons.pepperhot" size="lg"></fa-icon>
    </span>
    <p class="prof">Native</p>
  </div>
  <div class="lang-section eng-lang">
    <h4>English</h4>
    <span *ngFor="let i of [1,2,3,4,5]">
        <fa-icon class="fluent" [icon]="faIcons.star" size="lg"></fa-icon>
    </span>
    <p class="prof">Fluent</p>
  </div>
  <div class="lang-section french-lang">
    <h4>French</h4>
    <span *ngFor="let i of [1,2,3,4,5]">
        <fa-icon class="novice" [icon]="faIcons.leaf" size="lg"></fa-icon>
    </span>
    <p class="prof">Basic</p>
  </div>
</div>
 -->

  <h3>Networks</h3>
  <div class="section-container social">

    <div class="social-card">
      <a href="https://www.linkedin.com/in/alfredoae/" target="_blank">
        <fa-icon [icon]="faIcons.linkedin" size="4x"></fa-icon>
      </a>
      <p><a href="https://www.linkedin.com/in/alfredoae/" target="_blank">LinkedIn</a></p>
    </div>

    <div class="social-card">
      <a href="https://github.com/jocelo" target="_blank">
        <fa-icon [icon]="faIcons.github" size="4x"></fa-icon>
      </a>
      <p><a href="https://github.com/jocelo" target="_blank">Github</a></p>
    </div>

    <div class="social-card">
      <a href="https://www.hackerrank.com/jocelohere" target="_blank">
        <fa-icon [icon]="faIcons.hackerrank" size="4x"></fa-icon>
      </a>
      <p><a href="https://www.hackerrank.com/jocelohere" target="_blank">Hacker Rank</a></p>
    </div>

    <div class="social-card">
      <a href="https://leetcode.com/jocelo/" target="_blank">
        <fa-icon [icon]="faIcons.diagram" size="4x"></fa-icon>
      </a>
      <p><a href="https://leetcode.com/jocelo/" target="_blank">LeetCode</a></p>
    </div>

    <div class="social-card">
      <a href="https://exercism.io/profiles/jocelo" target="_blank">
        <fa-icon [icon]="faIcons.exercism" size="4x"></fa-icon>
      </a>
      <p><a href="https://exercism.io/profiles/jocelo" target="_blank">Exercism</a></p>
    </div>

    <div class="social-card">
      <a href="https://www.instagram.com/joceloae/" target="_blank">
        <fa-icon [icon]="faIcons.instagram" size="4x"></fa-icon>
      </a>
      <p><a href="https://www.instagram.com/joceloae/" target="_blank">Instagram</a></p>
    </div>

    <!--
    <div class="social-card">
      <a href="https://twitter.com/jocelo" target="_blank"> <fa-icon [icon]="faIcons.twitter" size="4x"></fa-icon> </a>
      <p><a href="https://twitter.com/jocelo" target="_blank">Twitter</a></p>
    </div>
    
    <div class="social-card">
      <a href="https://codepen.io/jocelo/" target="_blank"> <fa-icon [icon]="faIcons.codepen" size="4x"></fa-icon> </a>
      <p><a href="https://codepen.io/jocelo/" target="_blank">Codepen</a></p>
    </div>
    -->
    <div class="social-card">
      <a href="https://www.youtube.com/channel/UC547pgqomI0IcjOmltxQdAQ" target="_blank">
        <fa-icon [icon]="faIcons.youtube" size="3x"></fa-icon>
      </a>
      <p><a href="https://www.youtube.com/channel/UC547pgqomI0IcjOmltxQdAQ" target="_blank">Youtube</a></p>
    </div>

  </div>
</section>