<article class="blog-layout">
  <h1 id="article-top">Que es una Cola?</h1>
  <app-writer lang="es"></app-writer>

  <mat-card class="card-note">
    <fa-icon [icon]="faLanguage" style="margin-right: 10px;" size="lg"></fa-icon> For English version <a
      [routerLink]="['/blog','what-is-a-stack']">click here.</a>
  </mat-card>

  <p>Bienvenidos a este articulo donde platicaremos acerca de una de las estructuras de datos mas recurridas cuando
    estamos resolviendo ejercicios de programación.</p>
  <p>Aunque lo mas recomendable es que leas este articulo en orden, puedes usar el indice si deseas brincarte a
    cualquier sección en especifico:</p>
  <ul>
    <li> <a routerLink="." fragment="definition">Definición</a></li>
    <li> <a routerLink="." fragment="code">Código</a></li>
    <li> <a routerLink="." fragment="bigo">Análisis de complejidad (big O)</a></li>
    <li> <a routerLink="." fragment="conclusion">Conclusión</a></li>
  </ul>
  <hr />

  <h2 id="definition">Definición</h2>
  <p>La Cola (o queue) es una estructura de datos o tipo de datos abstracto que implementa el principio <u>FIFO</u>.</p>
  <p>FIFO significa <i>First Input First Output</i>; en otras palabras <b>el primer elemento que entra es el primero
      que sale.</b></p>
  <p>Una analogía que sirve para comprender mejor este concepto es como funciona una fila de personas en el cine, o en las 
    tortillas... La primera persona que llego es la primera en ser atendida cuando comienzan a pasar al cine o a 
    vender las tortillas.</p>
  <p>Las operaciones básicas que se pueden ejecutar en una pila son la <u>inserción</u> de un nuevo
    elemento y la <u>obtención</u> de un elemento. Estas dos operaciones generalmente se les llama <span
      class="inline-code">push</span> y <span class="inline-code">pop</span> respectivamente.
  </p>
  <p>Para su implementación todo depende del lenguaje de programación y gran parte de los lenguajes tenga este
    tipo de dato previamente programado y solo tengamos que aprender a utilizarlo; dichos métodos son definidos como 
    parte de un array (o un Lista en Python).</p>
  <p>Las operaciones de una cola siempre son efectuadas sobre <u>el inicio de la cola</u> ó <u>la cabeza de la cola</u>.
    Termino que se utiliza para referirse a el <i>inicio</i> de la lista.</p>

  <p>En la siguiente sección revisamos las diferencias entre cada lenguaje de programación y su uso.</p>
  <div class="back-to-top">
    <a routerLink="." fragment="article-top">Regresar al inicio</a>
  </div>
  <hr />

  <h2 id="code">Código</h2>
  <app-code-block 
    language="es"
    [code]="theCode" 
    [codeSteps]="codeSteps"
    [pseudoCode]="pseudoCode"
    [pseudoNotes]="pseudoNotes">
  </app-code-block>
  <div class="back-to-top">
    <a routerLink="." fragment="article-top">Regresar al inicio</a>
  </div>
  <hr />

  <h2 id="bigo">Análisis Complejidad (big O)</h2>
  <p>La cola es un tipo de dato abstracto muy usado en programación. En su implementación básica tiene una complejidad para 
    <b>lectura</b> y <b>escritura</b> de O(n); donde <span class="inline-code">n</span> es el tamaño de la cola. Esta 
    complejidad esta basada en que cada vez que se saque o inserte un elemento de la cola, la operación se realiza sobre 
    el tope de la cola y  todos los elementos restantes tienen que <i>recorrerse</i> hacia la izquierda o derecha, respectivamente.</p>
  <p><b>Nota:</b> El termino <i>lectura</i> en el párrafo anterior se refiere a la operación <span class="inline-code">pop</span>.
    El termino no debe confundirse con algún otro método u operación de lectura ( <span class="inline-code">peek</span> por ejemplo ).
    Por cierto, dicho método ( <span class="inline-code">seek</span> ) tiene una complejidad constante O(1), ya que solamente se esta 
    <b>leyendo</b> el elemento en el tope de la cola, lo cual no requiere recorrer ningún otro elemento de la misma.
    Este método (o alguna variante) para trabajar con colas existe en algunas implementaciones o clases incluidas en algunos lenguajes de programación.
    Usando estas clases, ayudan a reducir la complejidad hasta que sea constante O(1). Por ejemplo, python (python2.7 y superiores) cuentan con un 
    objeto llamado <span class="inline-code">deque</span> (double-ended queue) que es parte del modulo collections; el cual ofrece aproximadamente
    el mismo comportamiento de complejidad constante O(1) en operaciones de inserción y obtención. Puedes leer mas acerca de este objecto en 
    la <a href="https://docs.python.org/2.7/library/collections.html#collections.deque" target="_blank"> documentacion oficial</a>.
  </p>
  <div class="back-to-top">
    <a routerLink="." fragment="article-top">Regresar al inicio</a>
  </div>
  <hr />

  <h2 id="conclusion">Conclusión</h2>
  <p>Gracias por leer este articulo!</p>
  <p>La cola (en conjunto con <a [routerLink]="['/blog/','que-es-una-pila']">la pila</a> ) es un tipo de dato abstracto 
    muy recurrida para resolver problemas o algoritmos de optimización. <i>Generalmente</i> es muy sencilla de 
    implementar y el tipo de dato <span class="inline-code">array</span> (o una lista en Python) en los lenguajes de 
    programación usualmente ya cuentan con métodos para usar el array como si fuera una cola. O bien, como vimos anteriormente, 
    utilizando módulos creados específicamente para este caso; inclusive podríamos crear una clase nosotros mismos para mejorar 
    la funcionalidad de una cola.
  </p>
  <!-- <p>Es común también, que las pilas sean vistas o implementadas como listas enlazadas simples.</p> -->
  <p>Listo! ya conoces acerca de este tipo de dato abstracto que puedes usar cuando estés resolviendo problemas.</p>
  <hr />

  <app-read-next lang="es"></app-read-next>
</article>