<article class="blog-layout">
  <h1 id="article-top">{{postTitle}}</h1>
  <app-writer lang="es"></app-writer>

  <mat-card class="card-note">
    <fa-icon [icon]="faLanguage" style="margin-right: 10px;" size="lg"></fa-icon> For English version <a
      [routerLink]="['/blog','what-is-a-stack']">click here.</a>
  </mat-card>

  <p>Bienvenidos a este articulo donde platicaremos acerca de una de las estructuras de datos mas recurridas cuando
    estamos resolviendo ejercicios de programación.</p>
  <p>Aunque lo mas recomendable es que leas este articulo en orden, puedes usar el indice si deseas brincarte a
    cualquier sección en especifico:</p>
  <ul>
    <li> <a routerLink="." fragment="definition">Definición</a></li>
    <li> <a routerLink="." fragment="code">Código</a></li>
    <li> <a routerLink="." fragment="bigo">Análisis de complejidad (big O)</a></li>
    <li> <a routerLink="." fragment="conclusion">Conclusión</a></li>
  </ul>
  <hr />

  <h2 id="definition">Definición</h2>
  <p>La Pila (o stack) es una estructura de datos o tipo de datos abstracto que implementa el principio <u>LIFO</u>.</p>
  <p>LIFO significa <i>Last Input First Output</i>; en otras palabras es <b>el ultimo elemento que entra, es el primero
      que sale.</b></p>
  <p>Una analogía que sirve para comprender mejor este concepto seria sacar una papa de un tubo de Pringles... cuando
    queremos comernos una papa, la primera papa que tomamos es la ultima papa que metieron al contenedor cuando
    ensamblaron el producto.</p>
  <p>Otro ejemplo es el historial de un navegador web (Firefox, Chrome, etc) en donde cada vez que das click a un link,
    te
    lleva
    a esa pagina, y te pone en el historial la pagina que estas abandonando.
    De esta manera, cuando presionas el botos de "back", te regresa a la ultima pagina que habías visitado, y si
    continuas dando click en el botón, vas navegando "hacia atrás"</p>
  <p>O bien, el ejemplo clásico... una pila de platos, los cuales solo puedes tomar el plato que esta mas arriba de la
    pila (siempre y cuando no quieras tomar también la escoba y el recogedor).</p>
  <p>Asi pues, las operaciones básicas que se pueden ejecutar en una pila son la <u>inserción</u> de un nuevo
    elemento y la <u>obtención</u> de un elemento. Estas dos operaciones generalmente se les llama <span
      class="inline-code">push</span> y <span class="inline-code">pop</span> respectivamente.
  </p>
  <p>Para su implementación todo depende del lenguaje de programación y es probable que todos los lenguajes tenga este
    tipo de dato previamente programado y solo tengamos que aprender a utilizarlo; dichos métodos son definidos como
    parte de un array (o un Lista en Python).</p>
  <p>Las operaciones de una pila siempre son efectuadas sobre <u>el tope de la pila</u> ó <u>la cabeza de la pila</u>.
    Termino que se utiliza para referirse a el <i>final</i> de la lista.</p>

  <p>En la siguiente sección revisamos las diferencias entre cada lenguaje de programación y su uso.</p>
  <div class="back-to-top">
    <a routerLink="." fragment="article-top">Regresar al inicio</a>
  </div>
  <hr />

  <h2 id="code">Código</h2>
  <app-code-block language="es" [code]="theCode" [codeSteps]="codeSteps" [pseudoCode]="pseudoCode"
    [pseudoNotes]="pseudoNotes">
  </app-code-block>
  <div class="back-to-top">
    <a routerLink="." fragment="article-top">Regresar al inicio</a>
  </div>
  <hr />

  <h2 id="bigo">Análisis Complejidad (big O)</h2>
  <p>La pila es un tipo de dato abstracto muy usado en programación. El tiempo de lectura y escritura en cuestión de
    complejidad es constante ya que todas las operaciones (inserción y obtención) son realizadas sobre el tope de la
    pila; esto hace que la complejidad sea <b>constante: O(1)</b>.</p>
  <p></p>
  <div class="back-to-top">
    <a routerLink="." fragment="article-top">Regresar al inicio</a>
  </div>
  <hr />

  <h2 id="conclusion">Conclusión</h2>
  <p>Gracias por leer este articulo!</p>
  <p>La pila es un tipo de dato abstracto que es muy recurrida cuando estamos resolviendo problemas de optimización.
    <i>Generalmente</i> es muy sencilla de implementar y el tipo de dato <span class="inline-code">array</span> (o una
    lista en Python) en los lenguajes de programación usualmente ya cuentan con métodos para usar el array como si fuera
    una pila.
  </p>
  <p>Este es el tipo de dato perfecto para resolver problemas de programación como el del <a
      [routerLink]="['/blog','balanceo-de-parentesis']">balanceo de paréntesis</a>.
  </p>
  <!-- <p>Es común también, que las pilas sean vistas o implementadas como listas enlazadas simples.</p> -->
  <p>Listo! ya conoces acerca de este tipo de dato abstracto que puedes usar cuando estés programando.</p>
  <hr />

  <app-read-next lang="es"></app-read-next>
</article>