<section class="game-section">
    <h2><a href="https://jocelo.github.io/snake-game/" target="_blank">Snake</a></h2>
    <div>
        <p>My own version of the classic snake game. Control the head of the snake with the 4 arrow keys. The main objective is to eat all the "apples" that appear on the screen withouth touching any part of the Snake's body, otherwise game is over.
            You can play the game <a href="https://jocelo.github.io/snake-game/" target="_blank">following this link</a>.
        </p>
    </div>
</section>