<section class="search-section">
  <h3>Searching: <b>{{searchToken}}</b> </h3>
  <hr />
  <p *ngIf="articles.length === 0">No articles match the criteria, please try again.</p>
  <ul *ngIf="articles.length > 0">
    <li *ngFor="let article of articles">
      <a [routerLink]="['/blog', article[0]]">{{article[1].title}}</a> ( <img [src]="langImg(article[1].language)" width="15px">
      {{langLabel(article[1].language)}}) - Last update: {{article[1].lastUpdate}}
    </li>
  </ul>
  <hr />
  <h3>Related Searches:</h3>
  <ul>
    <li>
      <a [routerLink]="['/blog', 'balanced-brackets']">Balanced Brackets</a> ( <img src="assets/us.svg" width="15px">
      English) - Last update: February 7, 2022
    </li>
    <li>
      <a [routerLink]="['/blog', 'balanceo-de-parentesis']">Balanceo de Parentesis</a> ( <img src="assets/mx.svg"
        width="15px"> Español) - Last update: February
      7, 2022
    </li>
  </ul>
</section>