<div class="footer">
  <section class="icons-section">
    <div class="right-divisor">
      <a href="https://www.instagram.com/joceloae/" target="_blank">
        <fa-icon [icon]="faIcons.instagram" size="2x"></fa-icon>
      </a>
      <p class="title-icon"><a href="https://www.instagram.com/joceloae/" target="_blank">Instagram</a></p>
    </div>

    <div class="right-divisor">
      <a href="https://twitter.com/jocelo">
        <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
      </a>
      <p class="title-icon"><a href="https://twitter.com/jocelo" target="_blank">Twitter</a></p>
    </div>

    <div class="right-divisor hide-on-mobile">
      <a href="https://www.linkedin.com/in/alfredoae/">
        <fa-icon [icon]="faIcons.linkedin" size="2x"></fa-icon>
      </a>
      <p class="title-icon"><a href="https://www.linkedin.com/in/alfredoae/" target="_blank">LinkedIn</a></p>
    </div>

    <div class="right-divisor hide-on-mobile">
      <a href="https://github.com/jocelo" target="_blank">
        <fa-icon [icon]="faIcons.github" size="2x"></fa-icon>
      </a>
      <p class="title-icon"><a href="https://github.com/jocelo" target="_blank">Github</a></p>
    </div>

    <div class="right-divisor">
      <a href="https://www.hackerrank.com/jocelohere" target="_blank">
        <fa-icon [icon]="faIcons.hackerrank" size="2x"></fa-icon>
      </a>
      <p class="title-icon"><a href="https://www.hackerrank.com/jocelohere" target="_blank">Hacker Rank</a></p>
    </div>
    <div class="right-divisor">
      <a href="https://leetcode.com/jocelo/" target="_blank">
        <fa-icon [icon]="faIcons.diagram" size="2x"></fa-icon>
      </a>
      <p class="title-icon"><a href="https://leetcode.com/jocelo/" target="_blank">LeetCode</a></p>
    </div>
    <div class="right-divisor">
      <a href="https://exercism.io/profiles/jocelo" target="_blank">
        <fa-icon [icon]="faIcons.exercism" size="2x"></fa-icon>
      </a>
      <p class="title-icon"><a href="https://exercism.io/profiles/jocelo" target="_blank">Exercism</a></p>
    </div>
  </section>
  <section>
    <p>
      {{today | date:'YYYY'}} <fa-icon [icon]="faCopyright"></fa-icon> All rights reserved
    </p>
  </section>
</div>