<ng-template [ngIf]="!blogLinks">
    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
        <mat-chip class="example-box hover-pointer" color="primary" [ngClass]="{'no-follow': site.url == ''}"
            [disabled]="site.url == ''" selected cdkDrag *ngFor="let site of data" (click)="openLink(site.url)">
            <fa-icon *ngIf="site.url != ''" [icon]="faExternalLinkAlt" style="margin-right: 10px;"></fa-icon> {{site.name}}
        </mat-chip>
    </mat-chip-list>
</ng-template>

<ng-template [ngIf]="blogLinks">
    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
        <mat-chip class="example-box hover-pointer" color="primary" selected cdkDrag 
            *ngFor="let topic of data" (click)="openWithFilter(topic)">
            <fa-icon [icon]="icons[topic]" style="margin-right: 10px;"></fa-icon> {{topic}}
        </mat-chip>
    </mat-chip-list>
</ng-template>